---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="404 Error">
	<main>
		<section class="center">
			<h1>
				<span class="statusCode">404: </span>
				<span class="statusMessage">Not found</span>
			</h1>
		</section>
	</main>
</Layout>
