---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<Layout title="About me">
	<main>
		<h1>About <span class="text-gradient">me</span></h1>
		<h2>... and my new Astro site!</h2>

		<p>
			I am working through Astro's introductory tutorial. This is the
			second page on my website, and it's the first one I built myself!
		</p>

		<p>My skills are :</p>
		<ul class="link-card-grid">
			{skills.map((skill) => <Card title={skill} />)}
		</ul>
	</main>
</Layout>
