---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Blog">
	<main>
		<h1>Welcome to my <span class="text-gradient">Blog</span></h1>
		<p>This is where I will post about my journey learning Astro.</p>

		<ul class="link-card-grid">
			{
				allPosts.map((post) => (
					<Card
						title={post.frontmatter.title}
						href={post.url}
						body=""
					/>
				))
			}
		</ul>
	</main>
</Layout>
