---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// const allPosts = await Astro.glob("./posts/*.md");

const res = await fetch("http://step.local/wp-json/wp/v2/posts?&_embed");
const posts = await res.json();
---

<Layout title="Blog">
	<main>
		<h1>Welcome to my <span class="text-gradient">Blog</span></h1>

		<ul class="link-card-grid">
			{
				posts.map((post) => (
					<Card
						title={post.title.rendered}
						href={`/posts/${post.slug}`}
						body=""
					/>
				))
			}
		</ul>
	</main>
</Layout>
