---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to my <span class="text-gradient">Astro</span> project</h1>
		<p class="instructions">
			This is a test project in order to learn static site dev with Astro.
		</p>
	</main>
</Layout>
