---
const platform = "github";
import Socials from "./Socials.astro";
---

<footer>
	<p>Learn more about my projects on :</p>
	<Socials platform="github" username="julienrondeau" />
	<Socials platform="instagram" username="julienrondeau" />
	<Socials platform="facebook" username="julienrondeau" />
	<div></div>
</footer>
